body {
    margin: 40px;
    height: 100%;
    background-color: #ebe8e8;
}

.box {
    background-color: #ccc;
    color: #000;
    border-radius: 5px;
    padding: 20px;
    font-size: 2em;
}


/*   Nav    */

.nav {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    flex-flow: wrap;
    /*justify-content: space-around;*/
    align-items: center;
    font-size: .75em;
}

.nav-links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;

}

.sort-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

.postLink {
    color: black;
}

.navbox {
    grid-row: 2;
    grid-column: 1 / -1;
    background-color: black;
    z-index: 1;
}

.vbox {
    grid-row: 1/ -1;
    grid-column: 2;
    margin: 10px;
    border: solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 2em;
    background-color: #390cef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}

.title-box2 {
    text-decoration: underline;
}

.sort-buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    border-left: 3px solid white;
    color: white;
}


/* Grid Body */

.wrapper {
    width: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, minmax(25px, auto));
    grid-template-rows: repeat(12, minmax(125px, auto));
}

.title-box {
    font-size: 9em;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px 4px #000000;

}

.letter-box {
    font-size: 7em;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px 4px #000000;
}

.content-location {
    grid-column: 3 / 12;
    grid-row: 3 / -1;
    border: solid #390cef;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    margin: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.post-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 300px;
}

/* Posts */

.post {
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
    overflow: auto;
    border: solid black;
    border-radius: 5px;
    height: 250px;
    font-size: 1em;
    margin: 15px 0px 15px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-content {
    display: flex;
    flex: 1;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-shadow: 1px 1px 2px grey;
}

.post-header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid black;
    margin-bottom: 5px;
    background-color: #ccc;
    border-radius: 0px 0px 5px 		5px;
    text-align: center;
    text-shadow: 2px 2px 4px grey;
}

.post-footer {
    display: flex;
    justify-content: space-evenly;
    border-top: solid black;
    margin-top: 5px;
    background-color: #ccc;
    border-radius: 5px 5px 0px 		0px;
    text-align: center;
    text-shadow: 2px 2px 4px grey;
}

.icon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.form-control {
    width: 100%;
    border-radius: 5px;
}

ul {
    list-style: none;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 20;
}

.modal {
    position: absolute;
    top: 40px;
    left: 200px;
    right: 200px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    outline: none;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
    min-width: 500px;

}

.ReactModal__Body--open {
    overflow-y: hidden;
}


/* comments */

.comment {
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
    overflow: auto;
    border: solid black;
    border-radius: 5px;
    height: 250px;
    font-size: 1em;
    margin: 15px 0px 15px 0px;
}

.comments-header {
    display: flex;
    justify-content: center;
    border-bottom: solid black;
    margin-bottom: 5px;
    background-color: #ccc;
    border-radius: 0px 0px 5px 		5px;
    text-align: center;
}

.comment-content {
    flex: 1;
    justify-content: center;
}

.comments-span-header {

}
.comments-span {
    background:#fff;
    padding:0 10px;
}

.comments-form {
    display: block;
    width: 100%;
}

.comments-body-field {
    flex: 1;
    width: 300px;
    height: 50px;
}

.comments-author-field {
    flex: 1;
    width: 100%;
}

.comment-footer {
    display: flex;
    justify-content: space-evenly;
    border-top: solid black;
    margin-top: 5px;
    background-color: #ccc;
    border-radius: 5px 5px 0px 		0px;
    text-align: center;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

    nav {
        display: flex;
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: .5em;
        flex-flow: wrap;
    }

}



/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    nav {
        display: flex;
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: .5em;
        flex-flow: wrap;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    nav {
        display: flex;
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: .5em;
        flex-flow: wrap;
    }

}